@import './../settings/_media-sizes';

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 8px;
  padding-right: 8px;
}

@media (min-width: $xl) {
  .container {
    width: 1170px;
  }
}
