@import './../../styles/settings/colors';
@import './../../styles/settings/media-sizes';
@import './../../styles/tools/mixins';

.list-scholarships {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(1, 1fr);

  .card-scholarship {
    align-items: center;
    background-color: $white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 400px;
    padding: 16px;
    text-align: center;

    @include box-shadow(0, 2px, 5px, 0, rgba(0, 4px, 4px, .2));

    &:first-of-type {
      justify-content: center;
    }

    .wrapper-score {
      display: flex;
      justify-content: center;

      svg {
        margin-left: 4px;
      }
    }

    hr {
      background-color: $secondary-gray;
      height: 3px;
      margin-bottom: 16px;
      margin-top: 16px;
      width: 100%;
    }
  }
}

@media screen and (min-width: $md) {
  .list-scholarships {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: $xl) {
  .list-scholarships {
    grid-template-columns: repeat(4, 1fr);
  }
}
