@import './../../styles/settings/colors';
@import './../../styles/settings/fonts';
@import './../../styles/tools/mixins';

* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 0;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

body {
  background-color: $gray;
  color: $black;
  font-family: $font-family-base;
  font-size: $font-size-base;
}

a {
  color: $black;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    opacity: .75;
  }
}

h1, h2, h3, h4 {
  font-weight: normal;
}

button {
  background-color: transparent;
  cursor: pointer;
}
